@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.display-flex {
  display: flex;
}

.secondary-bg-color {
  background-color: #F7F7F7;
}

.margin-bottom {
  margin-bottom: 80px;
}

.text-align {
  text-align: center;
}

.btn-primary {
  background-color: #FEA301;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 60px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: grey;
}

/* Nav section style */
.logo-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  gap: 10px;
}

.nav {
  width: 1160px;
  gap: 140px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 95px;
}

.nav-item {
  list-style: none;
  margin-right: 32px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-home {
  color: #FEA301;
}

.nav-about {
  color: #01ACFD;
}

.nav-Facilities {
  color: #05D4DF;
}

.nav-Admission {
  color: #5D58EF;
}

.material-icons {
  display: none;
}

/* hero section style */
.hero {
  width: 1158px;
  gap: 50px;
  margin: auto 96px;
}

.hero-text {
  align-content: center;
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

.hero-description {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 22px;
}

.hero-btn {
  background-color: black;
  margin-top: 22px;
}

.hero-img {
  width: 468.61px;
}

/* Standard Section Style */
.Standard-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 80px;
}

.Standard-container {
  width: 1160px;
  justify-content: center;
  gap: 25px;
  margin: 95px 95px;
  text-align: center;
}

.Standard-Section {
  background-image: url(./bg.png);
}

.Standard-sub-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 32px;
}

.Standard-short-description {
  font-size: 0.945rem;
  font-weight: 500;
  color: rgba(128, 128, 128, 1);
  margin-top: 32px;
  margin-bottom: 32px;
}

.standard-btn {
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
}

.btn-color {
  color: rgba(240, 170, 0, 1);
}

.Standard-sub-container {
  width: 370px;
  height: 450px;
}

.sub-container-1 {
  background: linear-gradient(to bottom, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
  box-shadow: 4px, 4px, 28.3, 0.95, rgba(0, 0, 0, 0.05);
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 50px;
}

.sub-container-2 {
  background: linear-gradient(to bottom, #FFF4DC, rgba(255, 255, 255, 0));
  box-shadow: 4px, 4px, 28.3, 0.95, rgba(0, 0, 0, 0.05);
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 50px;

}

.sub-container-3 {
  background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
  box-shadow: 4px, 4px, 28.3, 0.95, rgba(0, 0, 0, 0.05);
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 50px;

}

/* Arrow button style */
.button-container {
  display: flex;
  justify-content: center;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(254, 163, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.button:hover {
  background-color: rgb(141, 138, 138);
}

.left-arrow,
.right-arrow {
  color: white;
  font-size: 24px;
}

/* Our Story section */
.our-story-section {
  margin-top: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(to top, rgba(243, 214, 165, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/bg.png');
  background-size: cover;
  background-position: center;
}

.story-container {
  text-align: center;
  justify-content: center;
}

.story-title {
  font-size: 2.875rem;
  font-weight: bold;
  padding-top: 60px;
  margin-bottom: 80px;
}

.story-1 {
  width: 540px;
  height: 550px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  margin-left: 22px;
  margin-bottom: 80px;
}

/* for all image */
.story-img {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
}

.story-1-title {
  font-size: 1.3rem;
  font-weight: bold;
  width: 402.49px;
  height: 69.98px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 36px;
}

.story-1-des {
  font-size: 14px;
  font-weight: 500;
  color: rgba(102, 102, 102, 1);
  width: 433.06px;
  height: 75.74px;
  text-align: left;
  padding-left: 36px;
}

.story-button {
  font-size: 15.34px;
  font-weight: 500;
  background-color: #3CD8E8;
  border: none;
  padding: 11px 19px;
  border-radius: 47.93px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}

.story-button:hover{
  background-color: grey;
}


/* story-sub-container */
.story-sub-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 540px;
  height: 550px;
  margin-left: 18px;
  /* margin-right: 22px; */
  gap: 18px;
  border-radius: 16px;
}

.story-card {
  width: 261px;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1px solid white;
  font-size: 15px;
}

.story-card-1 {
  border: 1px solid white;
}

.story-sub-container-text {
  font-size: 15px;
  font-weight: bold;
  margin-left: 36px;
  color: #000000;
  text-align: left;
  margin-top: 8px;
  width: 210px;
}

.story-sub-container-btn {
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(149, 178, 38, 1);
  padding: 8px 18px;
  border-radius: 47.93px;
  border: none;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
}

.story-sub-container-btn:hover{
  background-color: grey;
}

.btn-2 {
  background-color: #5D58F0;
}

.btn-4 {
  font-size: 10px;
  padding: 9px 09px;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

/* story ending button */
.story-btn {
  background-color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 60px;
}

/* Marque section style */
.marquee-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee-text span {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }

  to {

    transform: translateX(-100%);
  }
}

/* Footer section style */
.footer {
  background-color: rgba(1, 172, 253, 1);
  width: 100%;
  height: 400px;
  justify-content: space-around;
  padding-top: 100px;
}

.footer-img {
  margin-right: 10px;
}

.footer-logo-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  margin-top: 10px;
  width: 230px;
  line-height: 30px;
}

.footer-section-description {
  font-size: 1.2rem;
  font-weight: 400;
  color: #FFFFFF;
  width: 380px;
  margin-top: 35px;
}

/* footer-section-2 */
.footer-section-2-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #FFFFFF;
}

.footer-section-2-list {
  font-size: 1.2rem;
  font-weight: 500;
  color: #FFFFFF;
  list-style: none;
  padding-top: 20px;
}

.list-item {
  text-decoration: none;
  color: white;
}

/* footer-section-3 */
.footer-section-3-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #FFFFFF;
}

.footer-section-3-img {
  margin-top: 10px;
}





@media screen and (max-width:576px) {

  /* shared responsive */
  .contract-btn,
  .logo-title,
  .button-container,
  .story-1,
  .marquee-text,
  .nav-links {
    display: none;
  }

  /* nav bar responsive */
  .nav {
    border: 1px solid orange;
    width: 100%;
    margin: 0px 0px;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
  }

  .material-icons {
    display: block;
  }


  /* hero section responsive */
  .hero {
    flex-direction: column-reverse;
    margin: 0 0;
    justify-content: center;

  }

  .hero-img {
    width: 32%;
    justify-items: center;
    text-align: center;
    margin-left: 27px;
  }

  .hero-title {
    font-size: 35px;
    font-weight: bold;
    width: 90%;
    text-align: center;
    margin-left: 25px;
  }

  .hero-text {
    text-align: center;
    width: 35%;
    font-size: 30px;
  }

  .hero-description {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    margin-left: 25px;
  }

  .hero-btn {
    justify-content: center;
    padding: 14px 30px;
  }

  /* standard section responsive */
  .Standard-container {
    flex-direction: column;
    margin: 50px auto;
    margin-left: 30px;
  }

  .Standard-title {
    font-size: 20px;
    font-weight: bold;
    padding-top: 80px;
    text-align: center;
  }


 /* our story section responsiveness */
  .our-story-section {
    background: linear-gradient(to top, rgba(243, 214, 165, 0.5), rgba(255, 255, 255, 0.5)), url('../assets/bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
  }

  .story-title{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  .story-sub-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    gap: 8px;
    border-radius: 16px;
    margin-right: 7px;
  }

  .story-card {
    width: 188px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid white;
    font-size: 15px;
  }




  .story-sub-container-text {
    font-size: 9px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    width: 150px;
    height: auto;
    padding-bottom: 20px;
    padding-right: 30px;
  }

  .story-sub-container-btn {
    font-size: 9px;
    font-weight: 500;
    background-color: rgba(149, 178, 38, 1);
    padding: 8px 18px;
    border-radius: 47.93px;
    border: none;
    color: #FFFFFF;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
  }
  .btn-2 {
    background-color: #5D58F0;
  }

  .btn-4 {
    font-size: 9px;
    padding: 9px 09px;
    top: 20%;
    left: 50%;
    margin-left: 28px;
    transform: translate(-50%, -50%);
  }

  .story-btn {
    background-color: #000;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 60px;
    margin-top: 50px;
    justify-content: center;
    padding: 10px 36px;
  }


   /* footer section responsiveness */
  .footer {
    flex-direction: column;
    height: auto;
    padding-left: 30px;
    width: 100%;
  }

  .footer-section-2 {
    padding-top: 30px;
  }

  .footer-section-3 {
    padding-top: 30px;
  }

  .footer-section-3-title {
    padding-bottom: 40px;
}
.footer-section-3-img{
  margin-bottom: 60px;
}
} 