@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style */
.display-flex {
  display: flex;
}

.secondary-bg-color {
  background-color: #F7F7F7;
}

.margin-bottom {
  margin-bottom: 80px;
}

.text-align {
  text-align: center;
}

.btn-primary {
  background-color: #FEA301;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 60px;
  border: none;
  border-radius: 12px;
}

/* Nav section style */
.logo-title {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 10px;
  gap: 10px;
}

.nav {
  width: 1160px;
  gap: 140px;
  justify-content: space-between;
  align-items: center;
  margin: 20px 95px;
}

.nav-item {
  list-style: none;
  margin-right: 32px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger-menu span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #000;
  border-radius: 2px;

}

.nav-home {
  color: #FEA301;
}

.nav-about {
  color: #01ACFD;
}

.nav-Facilities {
  color: #05D4DF;
}

.nav-Admission {
  color: #5D58EF;
}

/* hero section style */
.hero {
  width: 1158px;
  gap: 50px;
  margin: auto 96px;
}

.hero-text {
  align-content: center;
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  color: black;
}

.hero-description {
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 22px;
}

.hero-btn {
  background-color: black;
  margin-top: 22px;
}

.hero-img {
  width: 100%;
}

/* Standard Section Style */
.Standard-title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  padding-top: 80px;
}

.Standard-container {
  width: 1160px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 95px 95px;
  text-align: center;
}

.Standard-Section {
  background-image: url(/assets/bg.png);
}

.Standard-sub-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 32px;
}

.Standard-short-description {
  font-size: 0.945rem;
  font-weight: 500;
  color: rgba(128, 128, 128, 1);
  margin-top: 32px;
  margin-bottom: 32px;
}

.standard-btn {
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
}

.btn-color {
  color: rgba(240, 170, 0, 1);
}

.Standard-sub-container {
  width: 370px;
  height: 450px;
}

.sub-container-1 {
  background: linear-gradient(to bottom, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0));
  box-shadow: 4px, 4px, 28.3, 0.95, rgba(0, 0, 0, 0.05);
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 50px;

}

.sub-container-2 {
  background: linear-gradient(to bottom, #FFF4DC, rgba(255, 255, 255, 0));
  box-shadow: 4px, 4px, 28.3, 0.95, rgba(0, 0, 0, 0.05);
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 50px;

}

.sub-container-3 {
  background: linear-gradient(to bottom, #F2E8FF, #FFFFFF);
  box-shadow: 4px, 4px, 28.3, 0.95, rgba(0, 0, 0, 0.05);
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 50px;

}

/* Arrow button style */
.button-container {
  display: flex;
  justify-content: center;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(254, 163, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.button:hover {
  background-color: rgb(141, 138, 138);
}

.left-arrow,
.right-arrow {
  color: white;
  font-size: 24px;
}

/* Our Story section */
.our-story-section {
  margin-top: 80px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(to top, rgb(243, 214, 165), rgb(255, 255, 255)),
    url('../assets/bg.png');
  background-size: cover;
  background-position: center;
}

.story-container {
  text-align: center;
  justify-content: center;
}

.story-title {
  font-size: 2.875rem;
  font-weight: bold;
  padding-top: 60px;
  margin-bottom: 80px;
}

.story-1 {
  width: 540px;
  height: 550px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
  margin-left: 22px;
  margin-bottom: 80px;
}

/* for all image */
.story-img {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
}

.story-1-title {
  font-size: 1.3rem;
  font-weight: bold;
  width: 402.49px;
  height: 69.98px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 36px;
}

.story-1-des {
  font-size: 14px;
  font-weight: 500;
  color: rgba(102, 102, 102, 1);
  width: 433.06px;
  height: 75.74px;
  text-align: left;
  padding-left: 36px;
}

.story-button {
  font-size: 15.34px;
  font-weight: 500;
  background-color: #3CD8E8;
  border: none;
  padding: 11px 19px;
  border-radius: 47.93px;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
}


/* story-sub-container */
.story-sub-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 601px;
  width: 540px;
  height: 550px;
  margin-left: 18px;
  margin-right: 22px;
  gap: 18px;
  border-radius: 16px;
}

.story-card {
  width: 261px;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1px solid white;
  font-size: 15px;
}

.story-card-1 {
  border: 1px solid white;
}

.story-sub-container-text {
  font-size: 15px;
  font-weight: bold;
  margin-left: 36px;
  color: #000000;
  text-align: left;
  margin-top: 8px;
  width: 210px;
}

.story-sub-container-btn {
  font-size: 14px;
  font-weight: 500;
  background-color: rgba(149, 178, 38, 1);
  padding: 8px 18px;
  border-radius: 47.93px;
  border: none;
  color: #FFFFFF;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -50%);
}

.btn-2 {
  background-color: #5D58F0;
}

.btn-4 {
  font-size: 10px;
  padding: 9px 09px;
  top: 20%;
  left: 20%;
  transform: translate(-50%, -50%);
}

/* story ending button */
.story-btn {
  background-color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 60px;
}

/* Marque section style */
.marquee-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee-text span {
  display: inline-block;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }
  to {
      
      transform: translateX(-100%);
  }
}

/* Footer section style */
.footer {
  background-color: rgba(1, 172, 253, 1);
  width: 100%;
  height: 460px;
  justify-content: space-around;
  padding-top: 100px;
}

.footer-img {
  background-color: white;
  margin-right: 10px;
}

.footer-logo-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: hsl(0, 0%, 100%);
  margin-top: 10px;
  width: 230px;
  line-height: 30px;
}

.footer-section-description {
  font-size: 1.2rem;
  font-weight: 400;
  color: #FFFFFF;
  width: 380px;
  margin-top: 35px;
}

/* footer-section-2 */
.footer-section-2-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #FFFFFF;
}

.footer-section-2-list {
  font-size: 1.2rem;
  font-weight: 500;
  color: #FFFFFF;
  list-style: none;
  padding-top: 20px;
}

.list-item {
  text-decoration: none;
  color: white;
}

/* footer-section-3 */
.footer-section-3-title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #FFFFFF;
}

.footer-section-3-img {
  margin-top: 10px;
}






@media screen and (max-width: 576px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 10px;
    background-color: white;
    width: 200px;
    border: 2px solid #FEA301;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: flex;
  }

  .nav-link {
    text-align: center;
    padding: 10px 0;
  }

  .contact-btn {
    display: none;
  }

  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .hero-text {
    text-align: center;
    width: 90%;
  }

  .contract-btn,
  .logo-title,
  .button-container,
  .story-1 {
    display: none;
  }

  /* standard responsive */
  .Standard-container {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .Standard-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 80px;
    margin: auto;
  }

  /* Our Story Section Responsiveness */
  .story-sub-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
  }

  .story-card {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 16px;
  }

  .story-sub-container-text {
    font-size: 14px;
    margin: 10px 0;
    text-align: left;
  }

  .story-sub-container-btn {
    font-size: 12px;
    padding: 6px 12px;
  }

  .story-btn {
    font-size: 0.9rem;
    margin-top: 20px;
    padding: 8px 16px;
  }

  /* Footer Section Responsiveness */
  .footer {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
  }

  .footer-section-2,
  .footer-section-3 {
    padding-top: 30px;
  }

  .footer-section-3-title {
    padding-bottom: 20px;
  }
}